.v-enter{
    opacity:0;
}
.v-enter-active{
    transition: 1s all linear;
}
.v-enter-to{
    opacity:1;
}
.v-leave{
    opacity:0;
}
.v-leave-active{
    transition: 1s all linear;
}
.v-leave-to{
    opacity:1;
}